<!-- {-- Mobile Versions - Start --}} -->
<!-- {{-- Hero --}} -->

<section class="d-block d-md-none mb-30" id="hero-mobile">
  <img alt="kelas online gratis belajar figma dan flutter buildwith angga" src="images/mobile/hero/kelas_figma_flutter_online_gratis_buildwithangga.webp" class="hero-image" />

  <div class="container">
    <div class="headline_page">
      <!-- <h4 class="primary-label">{{ $label }}</h4> -->

      <h3 class="primary-title">
        <span class="text-primary-blue">Your Dream Career</span> <br />
        Starts With Us
      </h3>

      <!-- <p class="tagline">
                    {{ $tagline }}
                </p> -->
    </div>

    <p class="mobile-description">
      BuildWithAngga menyediakan roadmap kelas <br />
      UI/UX design & Web development terbaik
    </p>

    <div class="w-100">
      <input
        type="text"
        placeholder="Mau belajar apa hari ini?"
        class="search-input-home form-control"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasSearchCourse"
        aria-controls="offcanvasSearchCourse"
        style="background: url('images/ic_search.svgkelas_figma_flutter_online_gratis_buildwithangga.webp')"
        readonly
        onclick="checkScroll(true)"
      />
    </div>
  </div>
</section>

<!-- {{-- Roadmap --}} -->
<section class="d-block d-md-none" id="mobileRoadmapCareer">
  <div class="container">
    <div class="headline_page">
      <h4 class="primary-label">Follow The Roadmap</h4>

      <h3 class="primary-title">
        Alur Belajar Rekomendasi <br />
        Dari Para Expert Kami
      </h3>
    </div>
  </div>

  <div id="roadmap-swiper" class="overflow-x-auto d-flex flex-nowrap overflow-hidden swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="position-relative stack-card-group">
          <div class="roadmapCard">
            <a href="" style="color: #34364a">
              <img src="images/thumbnail/thumbnail_roadmap-1.webp" class="thumbnail" alt="thumbnail" />
            </a>
            <a href="" style="color: #34364a">
              <h3 class="title">Berkarir Sebagai Freelancer UI/UX Website Designer</h3>
            </a>
            <p class="subtitle">20 courses • 77 hours</p>
            <div class="roadmap-tools">
              <img src="images/logo/figma-logomark.svg" alt="tools" />
              <img src="images/logo/maze-logomark.svg" alt="tools" />
              <img src="images/logo/dribbble-logomark.svg" alt="tools" />
              <img src="images/logo/whimsical.svg" alt="tools" />
              <img src="images/logo/notion-2.svg" alt="tools" />
            </div>
          </div>
          <div class="stack-card-ornament sco-1"></div>
          <div class="stack-card-ornament sco-2"></div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative stack-card-group">
          <div class="roadmapCard">
            <a href="" style="color: #34364a">
              <img src="images/thumbnail/thumbnail_roadmap-2.webp" class="thumbnail" alt="thumbnail" />
            </a>
            <a href="" style="color: #34364a">
              <h3 class="title">Berkarir Sebagai Full-Stack JavaScript Developer</h3>
            </a>
            <p class="subtitle">12 courses • 34 hours</p>
            <div class="roadmap-tools">
              <img src="images/logo/javascript-logomark-rounded.svg" alt="tools" />
              <img src="images/logo/figma-logomark.svg" alt="tools" />
              <img src="images/logo/nodejs.svg" alt="tools" />
              <img src="images/logo/mongodb-icon-1.svg" alt="tools" />
            </div>
          </div>
          <div class="stack-card-ornament sco-1"></div>
          <div class="stack-card-ornament sco-2"></div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative stack-card-group">
          <div class="roadmapCard">
            <a href="" style="color: #34364a">
              <img src="images/thumbnail/thumbnail_roadmap-3.webp" class="thumbnail" alt="thumbnail" />
            </a>
            <a href="" style="color: #34364a">
              <h3 class="title">Berkarir Sebagai Full-Stack Developer (Web/Mobile)</h3>
            </a>
            <p class="subtitle">13 courses • 65 hours</p>
            <div class="roadmap-tools">
              <img src="images/logo/figma-logomark.svg" alt="tools" />
              <img src="images/logo/laravel.svg" alt="tools" />
              <img src="images/logo/flutter.svg" alt="tools" />
              <img src="images/logo/firebase.svg" alt="tools" />
              <img src="images/logo/mysql.svg" alt="tools" />
            </div>
          </div>
          <div class="stack-card-ornament sco-1"></div>
          <div class="stack-card-ornament sco-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- {{-- Categories --}} -->
<section class="mb-30 container course-categories">
  <div class="headline_page">
    <h4 class="primary-label">Explore More Skills</h4>

    <h3 class="primary-title">Kategori Pilihan</h3>
  </div>

  <div class="row d-flex justify-content-between align-items-start">
    <div class="col-6 item-category mobile position-relative">
      <a href="">
        <img src="images/ic_roadmap.svg" class="icon" alt="roadmap" />
      </a>
      <div class="footer d-flex justify-content-between align-items-center">
        <a href="" class="info">
          <h3 class="title">Roadmap</h3>
          <p class="sub">Alur belajar terbaik</p>
        </a>
      </div>
    </div>
    <div class="col-6 item-category mobile position-relative">
      <a href="">
        <img src="images/ic_design.svg" class="icon" alt="design" />
      </a>
      <div class="footer d-flex justify-content-between align-items-center">
        <a href="" class="info">
          <h3 class="title">Design</h3>
          <p class="sub">UI/UX Design</p>
        </a>
      </div>
    </div>
    <div class="col-6 item-category mobile position-relative">
      <a href="">
        <img src="images/ic_appcode.svg" class="icon" alt="appcode" />
      </a>
      <div class="footer d-flex justify-content-between align-items-center">
        <a href="" class="info">
          <h3 class="title">Coding</h3>
          <p class="sub">Website/Aplikasi</p>
        </a>
      </div>
    </div>
    <div class="col-6 item-category mobile position-relative">
      <a href="">
        <img src="images/ic_softskills.svg" class="icon" alt="softskills" />
      </a>
      <div class="footer d-flex justify-content-between align-items-center">
        <a href="" class="info">
          <h3 class="title">Big Data</h3>
          <p class="sub">Data Analysis</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="d-block d-md-none container mb-30" id="advice-mobile">
  <div class="overflow-hidden">
    <div class="advice-card-border"></div>
    <div class="advice-card d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-start align-items-center">
        <img src="images/ic_konsultasi.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="konsultasi" class="img-fluid thumbnail" />
        <div class="d-flex flex-column justify-content-start align-items-start">
          <div class="title">Need Advice?</div>
          <div class="sub">Konsultasi dulu yuk</div>
        </div>
      </div>

      <a href="https://instagram.com/buildwithangga" target="_blank" class="link d-flex justify-content-center align-items-center">Chat</a>
    </div>
    <div class="advice-card-border"></div>
  </div>
</section>

<!-- {{-- Top Featured course --}} -->
<section class="mb-30 d-block d-md-none">
  <div class="container">
    <div class="headline_page">
      <h4 class="primary-label">Most Up to Date</h4>

      <h3 class="primary-title">Terbaru Dirilis & Trending</h3>
    </div>
  </div>

  <div id="--course-card">
    <!-- @push('scripts') -->
    <script>
      $("#--course-card").flickity({
        // options
        cellAlign: "left",
        contain: true,
        groupCells: false,
        wrapAround: false,
        pageDots: false,
        prevNextButtons: false,
        draggable: ">1",
      });

      $(".flickity-viewport").css("overflow", "visible");
    </script>
    <!-- @endpush -->
    <!-- {{-- blade-formatter-disable --}} -->
    <!-- @forelse($kelas as $data)
            @once
                @push('styles') -->
    <!-- {{-- Tippy CSS --}} -->
    <link rel="stylesheet" href="tippy/css/tippy.csskelas_figma_flutter_online_gratis_buildwithangga.webp" />
    <link rel="stylesheet" href="tippy/css/shift-away.csskelas_figma_flutter_online_gratis_buildwithangga.webp" />
    <!-- @endpush -->

    <!-- @push('scripts') -->
    <!-- {{-- Wishlist --}} -->
    <script src="scripts/wishlist-course.jskelas_figma_flutter_online_gratis_buildwithangga.webp"></script>

    <!-- {{-- Tippy JS --}} -->
    <script src="tippy/js/popper.min.jskelas_figma_flutter_online_gratis_buildwithangga.webp"></script>
    <script src="tippy/js/tippy.umd.min.jskelas_figma_flutter_online_gratis_buildwithangga.webp"></script>

    <script src="scripts/course-card.jskelas_figma_flutter_online_gratis_buildwithangga.webp" type="text/javascript"></script>
    <!-- @endpush
            @endonce -->
    <div class="course-card mobile-version">
      <div class="d-flex align-items-start flex-row flex-column">
        <!-- {{-- Course Thumbnail and Course Trailer --}} -->
        <a href="javascript:void(0);" class="position-relative z-10 thumbnailContainer" onclick="trailerSet(this)" data-bs-toggle="modal" data-bs-target="#modalTrailerCourse" data-trailer="" data-course-name="">
          <img src="images/play_btn_blue.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="trailer - " class="_btn-play" />
          <img src="images/thumbnail/thumbnail_roadmap-2.webp" class="thumbnail-course" alt="Kelas di BuildWith Angga" />
        </a>

        <div class="course-detail">
          <!-- <a @if ($data->is_upcoming == 1) href="javascript:void(0);"
                        onclick="getPopupIncoming(this);" data-id="{{ $data->id }}"
                        @else
                        @if (!isset($isLink)) href="{{ route('front.courses.play', ['slug_kelas' => $data->slug_kelas]) }}?{{ isset($thumbnailURL) ? 'thumbnail=' . $thumbnailURL . '.' . $data->thumbnails[0]->id : null }}{{ isset($main_leads) ? '&main_leads=' . $main_leads : '' }}" @endif
                            @endif class="course-name line-clamp link-course-title">
                            {{ $data->nama_kelas }}
                        </a> -->
          <a href="javascript:void(0);" class="course-name line-clamp link-course-title"> Nama kelas </a>
          <!-- @unless (Auth::check() && Auth::user()->hasCertainCourse($data->id)) -->
          <!-- {{-- Price Info --}} -->
          <!-- <div class="d-flex align-items-center course_pricing gap-2">
                                @if ($data->is_active === 1)
                                    @if ($data->tipe_kelas != 'Premium')
                                        Rp 0
                                    @else
                                        @if ($data->is_promo == 1)
                                            <span class="disc-price blink_me">Rp
                                                {{ number_format($data->origin_price) }}
                                            </span>
                                            @if ($data->is_share_cost > 0)
                                                <span class="origin-price">Rp
                                                    {{ number_format($data->harga_kelas / $data->is_share_cost) }}
                                                </span>
                                                @component('front.pieces.icon_info_patungan')
                                                    @slot('share_cost_quota', $data->is_share_cost)
                                                    @slot('course_price', $data->harga_kelas)
                                                @endcomponent
                                            @else
                                                <span class="origin-price">Rp
                                                    {{ number_format($data->harga_kelas) }}
                                                </span>
                                            @endif
                                        @else
                                            <span class="">Rp
                                                {{ number_format($data->origin_price) }}</span>
                                        @endif
                                    @endif
                                @else
                                    <span class="origin-price text-medium ms-0">
                                        Pendaftaran Ditutup
                                    </span>
                                @endif
                            </div> -->
          <!-- @endunless -->
        </div>
      </div>

      <!-- @if (Auth::check() && Auth::user()->hasCertainCourse($data->id)) -->
      <!-- {{-- Label Joined course --}} -->
      <!-- <div class="labelJoinedCourse ms-0 mb-0 mt-auto">
                    <img src="images/ic_check_fill.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="check">
                    <p class="__text">
                        JOINED
                    </p>
                </div>
                @else -->
      <div class="course-footer mt-auto">
        <div class="star-rating w-100">
          <img src="images/ic_star.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="star" />
          <img src="images/ic_star.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="star" />
          <img src="images/ic_star.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="star" />
          <img src="images/ic_star.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="star" />
          <img src="images/ic_star.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" alt="star" />
          <span> 1.234 </span>
        </div>

        <!-- {{-- Icon Level Tooltip --}} -->
        <div class="d-block">
          <!-- @if ($data->tipe_kelas == 'Premium') -->
          <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins" data-bs-placement="bottom" title="All Levels" src="images/ic_lv_hard.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" class="icon-level" alt="level" />
          <!-- @elseif($data->tipe_kelas == 'Freemium') -->
          <!-- <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins"
                                data-bs-placement="bottom" title="Intermediate"
                                src="images/ic_lv_med.svgkelas_figma_flutter_online_gratis_buildwithangga.webp"
                                class="icon-level" alt="level"> -->
          <!-- @else -->
          <!-- <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins"
                                data-bs-placement="bottom" title="Beginner"
                                src="images/ic_lv_ez.svgkelas_figma_flutter_online_gratis_buildwithangga.webp"
                                class="icon-level" alt="level"> -->
          <!-- @endif -->
        </div>
      </div>
      <!-- @endif -->
    </div>
    <!-- @empty
        @endforelse -->
    <!-- {{-- blade-formatter-enable --}} -->
  </div>
</section>

<section class="d-block d-md-none container" id="unlock_better_version">
  <img src="images/ic_project.svgkelas_figma_flutter_online_gratis_buildwithangga.webp" class="img-fluid logo" alt="belajar design dan code di buildwith angga" />
  <div class="headline_page">
    <h4 class="primary-label">Unlock Better Version</h4>

    <h3 class="primary-title">
      Mulai Membangun Karir <br />
      Impianmu Bersama Kami
    </h3>
  </div>

  <div class="start-building-col w-100">
    <a href="" class="btn btn-primary min-w-max-content">Katalog Kelas</a>
    <a href="" class="btn btn-secondary min-w-max-content">Alur Belajar</a>
  </div>
</section>
<!-- {{-- Mobile Versions - End --}} -->
