<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>BuildWithAngga</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../../images/favicon.ico" />

    <meta name="description" content="Belajar online website design, web design, android, web development, ui ux design. Belajar dari rumah dan gratis konsultasi." />
    <meta name="keywords" content="Web Design, Web Development, UI UX Design, Android" />
    <meta name="author" content="BuildWithAngga" />

    <meta image="../../images/pic_header_new.png" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../images/pic_header_new.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Belajar Design & Code di BuildWithAngga" />
    <meta property="og:site_name" content="BuildWithAngga" />
    <meta property="og:url" content="https://class.buildwithangga.com/login" />
    <meta property="og:description" content="Belajar online website design, web design, android, web development, ui ux design. Belajar dari rumah dan gratis konsultasi." />

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../styles/styles.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <script src="../../scripts/revealPassword.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../../scripts/mobile-swiper-config.js" type="text/javascript"></script>

    <script src="../../scripts/mobile-navbar.js" type="text/javascript"></script>
  </head>

  <body>
    <section class="gate overflow-x-hidden" id="authPage">
      <div class="__authentication-banner d-none d-lg-block">
        <img src="../../images/banner_login_1.png" class="banner" alt="BuildWithAngga" />
      </div>
      <div class="content pb-5 px-3 px-lg-0">
        <a href="">
          <img src="../../images/logo_bwa_new.svg" class="logo mb-5" alt="BuildWithAngga" />
        </a>
        <h1 class="header-primary">New Account</h1>
        <p class="subtitle-primary mt-3 mb-5">
          Lengkapi form di bawah dengan <br class="desktop" />
          menggunakan data Anda yang valid
        </p>
        <div class="form-group">
          <form action="" method="POST">
            <div class="mb-3">
              <label for="exInputName" class="form-label">Nama (maks. 50 karakter)</label>
              <input type="text" name="name" class="form-control" id="exInputName" aria-describedby="nameHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <div class="revealPassword">
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
                <div>
                  <img src="../../images/svgs/ic_eye.svg" alt="eye" />
                </div>
              </div>
            </div>
            <a href="user_come_from.html" class="mt-2 btn btn-primary btn-lg btn-100">Continue</a>
            <!-- <button type="submit" class="mt-2 btn btn-primary btn-lg">Continue</button> -->
          </form>
        </div>
      </div>
    </section>

    <!-- @include('front.js.search_component')
    @stack('scripts') -->
  </body>
</html>
