<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootcamp Coding & Design by BuildWithAngga</title>

    <meta name="description" content="Tempat belajar coding dan design gratis secara online dari mentor berpengalaman dan lebih terarah untuk mengembangkan skills baru yang digunakan untuk mendapatkan pekerjaan di bidang IT." />
    <meta name="keywords" content="Web Design, Web Development, UI UX Design, Android Development, Full-Stack Developer" />
    <meta name="author" content="BuildWithAngga" />

    <meta image="../../images/belajar_design_coding_online_di_buildwith_angga.png" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../images/belajar_design_coding_online_di_buildwith_angga.png" />

    <meta property="og:title" content="Belajar Coding dan Design Dari Mentor Berpengalaman — BuildWithAngga" />
    <meta property="og:site_name" content="BuildWithAngga" />
    <meta property="og:url" content="https://buildwithangga.com/" />
    <meta property="og:description" content="Tempat belajar coding dan design gratis secara online dari mentor berpengalaman dan lebih terarah untuk mengembangkan skills baru yang digunakan untuk mendapatkan pekerjaan di bidang IT." />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/styles.min.css" />

    <link rel="icon" type="image/png" href="../../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../../images/favicon.ico" />

    <script src="../../scripts/pages/user-come-from.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="d-none d-sm-block">
      <div class="student-limitations-banner">
        <div class="d-flex align-items-center gap-3 flex-md-row flex-column">
          <div class="badge-sq-white d-inline-flex">Day 0/7</div>
          <span class="text-center text-md-start"> Saat ini Anda sedang pada masa Free Trial </span>
        </div>
        <a href="" class="btn btn-primary"> Upgrade to Pro </a>
      </div>
    </div>
    <main class="container pt-5 mt-5">
      <div class="d-flex flex-column justify-content-center gap-4">
        <div class="header-primary text-center mb-60 pb-2">
          How did you hear about <br class="desktop" />
          BuildWithAngga?
        </div>
        <form action="" class="mb-60 pb-2 mx-auto w-100" style="max-width: 350px">
          <label class="mb-2">Source</label>
          <select onchange="check(this)" class="form-select text-medium" name="come_from" required>
            <option value="default" selected hidden>Please choose an option</option>
            <option value="">Facebook</option>
            <option value="">Instagram</option>
            <option value="">Tiktok</option>
            <option value="Others">Others</option>
          </select>
          <input type="text" name="others" class="form-control mt-3 d-none" id="others" />
          <input type="hidden" name="from" value="" />
          <!-- <button type="submit" class="btn btn-primary btn-100 mt-4" id="btn-continue" disabled>Continue</button> -->
          <a href="../kelas-saya/index.html" class="btn btn-primary btn-100 mt-4" id="btn-continue">Continue</a>
        </form>
        <p class="text-center fw-light">
          Informasi Anda sangat berarti bagi kami <br class="desktop" />
          untuk memberikan pelayanan yang lebih baik
        </p>
      </div>
    </main>
  </body>
</html>
