<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kelas Saya — BuildWithAngga</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta image="../../images/meta/kelas-online-belajar-ui-ux-design-dan-web-development-build-with-angga.png" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../images/meta/kelas-online-belajar-ui-ux-design-dan-web-development-build-with-angga.png" />

    <!-- Main theme -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../../images/favicon.ico" />

    <link rel="stylesheet" href="../../styles/styles.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  </head>

  <body>

    <div class="sticky-top bg-nav d-none d-sm-block">
      <nav class="navbar navbar-expand-xl navbar-light navbar-nd" id="navbar-desktop">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">
            <img src="../../images/logo_bwa_new.svg" width="50" height="50" class="d-inline-block align-top" alt="logo buildwithangga" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="basic-menus navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../../sale.html"> Flash Sale </a>
              </li>
              <li class="nav-item d-flex flex-column justify-content-start align-items-start dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="listKelasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Kelas </a>
                <ul class="dropdown-menu __2022" aria-labelledby="listKelasDropdown">
                  <li class="sidecontent">
                    <p>Trusted by 900K+ Students</p>
                    <h5>
                      Build Your <br />
                      Future Career
                    </h5>
                    <p>
                      Explore kelas gratis dan berbayar <br />
                      bersama mentor expert
                    </p>
                    <a href="../kelas-online/index.html" class="btn btn-primary">All Courses</a>
                    <img src="../../images/silhouette-project-bwa.png" alt="icon buildwith angga" />
                  </li>
                  <li class="dropdown-item">
                    <div class="row row-cols-lg-3 row-cols-2 dd-item-list">
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>UI/UX Design</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Graphic Design</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Web Development</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Data Analysis</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Android Development</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>iOS Development</p>
                        </a>
                      </div>
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>HTML & CSS</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>JavaScript</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>PHP</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Python</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Kotlin</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Java</p>
                        </a>
                      </div>
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>Figma</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Laravel</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Flutter</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>React Native</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Vue JS</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>React JS</p>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- {{-- Alur Belajar --}} -->
              <li class="nav-item d-flex flex-column justify-content-start align-items-start dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="listAlurBelajarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Alur Belajar </a>
                <ul class="dropdown-menu __2022" aria-labelledby="listAlurBelajarDropdown">
                  <li class="sidecontent">
                    <p>Trusted by 900K+ Students</p>
                    <h5>
                      Follow Our <br />
                      Best Roadmap
                    </h5>
                    <p>
                      Panduan mentor expert untuk <br />
                      belajar jadi lebih terarah
                    </p>
                    <a href="../journey/index.html" class="btn btn-primary">All Roadmap</a>
                    <img src="../../images/silhouette-roadmap-bwa.png" alt="roadmap" />
                  </li>
                  <div class="dd-item-list">
                    <!-- {{-- Full-Stack Website Developer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_appcode.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Full-Stack Website Developer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- UI/UX Designer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_design.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">UI/UX Designer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- Mobile App Developer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_flutter.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Mobile App Developer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- Product Manager --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_flag.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Product Manager</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                  </div>
                </ul>
              </li>

              <!-- {{-- Bootcamp --}} -->
              <li class="nav-item">
                <a class="nav-link" href="../bootcamp/bootcamp-katalog.html"> Bootcamp </a>
              </li>
            </ul>

            <!-- {{-- RIGHT Menu --}} -->
            <ul class="navbar-nav right-menu ms-auto">
              <li class="nav-item d-flex align-items-center">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="CTRL+P" data-bs-custom-class="font-poppins">
                  <button type="button" class="btn-secondary" data-bs-toggle="modal" data-bs-target="#quickSearchModal">
                    <img class="search" src="../../images/ic_search.svg" alt="search buildwith angga" />
                  </button>
                </span>
              </li>

              <!-- New Notification Icon -->
              <div id="app">
                <li class="nav-item d-flex align-items-center">
                  <a href="../notification/index.html">
                    <button type="button" class="nav-icon position-relative">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0186 2.91016C8.70862 2.91016 6.01862 5.60016 6.01862 8.91016V11.8002C6.01862 12.4102 5.75862 13.3402 5.44862 13.8602L4.29862 15.7702C3.58862 16.9502 4.07862 18.2602 5.37862 18.7002C9.68862 20.1402 14.3386 20.1402 18.6486 18.7002C19.8586 18.3002 20.3886 16.8702 19.7286 15.7702L18.5786 13.8602C18.2786 13.3402 18.0186 12.4102 18.0186 11.8002V8.91016C18.0186 5.61016 15.3186 2.91016 12.0186 2.91016Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                            <path d="M13.8719 3.19945C12.6626 2.85504 11.3812 2.85504 10.1719 3.19945C10.4619 2.45945 11.1819 1.93945 12.0219 1.93945C12.8619 1.93945 13.5819 2.45945 13.8719 3.19945V3.19945Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0195 19.0605C15.0195 20.7105 13.6695 22.0605 12.0195 22.0605C11.1995 22.0605 10.4395 21.7205 9.89953 21.1805C9.33769 20.6179 9.02132 19.8557 9.01953 19.0605" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
            
                        <img class="position-absolute" src="../../images/ic_red_ellipse.svg" alt="ellipse" style="top: 13px; right: 13px" />
                    </button>
                  </a>
                </li>
            </div>

            <li class="nav-item d-none d-sm-flex flex-column justify-content-start align-items-start dropdown">
                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="user-name">
                        Halo, UserName
                    </span>
                    <img class="user-photo"
                        src="../../images/default-avatar.svg"
                        alt="">
                </a>
                <ul class="mt-2 dropdown-menu dropdown-nd" aria-labelledby="dropdownMenuLink" style="left:auto; right:0;">
                    
                  <li><a class="dropdown-item" href="../kelas-saya/index.html">My Courses</a></li>
                  <li><a class="dropdown-item" href="../talent/profile.html">My Certificates</a></li>
                  <li><a class="dropdown-item" href="../progress-belajar/index.html">Progress Belajar</a></li>
                  <li><a class="dropdown-item" href="../profile/settings.html">Settings</a></li>
                  <li><a class="dropdown-item" href="../../index.html">Logout</a></li>

                </ul>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- {{-- Mobile navbar --}} -->
    <div class="--bwa-mobile-version d-sm-none d-block">
      <div class="offcanvas offcanvas-bottom overflow-hidden mobile-navbar-offcanvas" tabindex="-1" id="navbarMobileGuest" aria-labelledby="navbarMobileGuestLabel">
        <div class="offcanvas-body small mobile-menu extended">
          <div class="row mb-30">
            <div class="col-12 d-flex justify-content-end align-items-start">
              <button onclick="checkScroll(false)" class="position-relative mobile-menu-close btn-plain bg-transparent" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="../../images/mobile/icon/ic_times.svg" alt="times" />
              </button>
            </div>
          </div>

          <div class="content-menu">
            <div>
              <div class="mobile-menu-title menubar">Daily</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_sekali_bayar.svg" alt="ic bayar" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="../../sale.html" class="mobile-menu-name min-w-max-content">Flash Sale</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_all_course.svg" alt="course" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Kelas Online</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_video.svg" alt=" video" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="../bootcamp/bootcamp-katalog.html" class="mobile-menu-name min-w-max-content">Bootcamp</a>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="mobile-menu-title menubar">Resources</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_roadmap.svg" alt="roadmap" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="../journey/index.html" class="mobile-menu-name min-w-max-content">Alur Belajar</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_project.svg" alt="project" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">HandBook</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_profile.svg" alt="profile" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Tips</a>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="mobile-menu-title menubar">For Corporate</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="https://joinbwa.com/openjob">
                      <img src="../../images/ic_project.svg" alt="project" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="https://joinbwa.com/openjob" class="mobile-menu-name min-w-max-content">Open Job</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_showcase.svg" alt="showcase" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Showcase</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="d-flex d-md-none justify-content-between align-items-center position-relative" id="navbar-mobile">
        <div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
          <a href="" class="link-basic">
            <img src="../../images/logo_bwa_new.svg" alt="logo" width="50" height="50" class="navbar-logo" />
          </a>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <button
            onclick="checkScroll(true)"
            class="btn-plain navbar-burger-btn d-flex justify-content-center align-items-center"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarMobileGuest"
            aria-controls="navbarMobileGuest"
          >
            <img src="../../images/mobile/icon/hamburger.svg" alt="hamburger" />
          </button>
          <button
            class="btn-plain navbar-search-btn d-flex justify-content-center align-items-center rounded-circle"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSearchCourse"
            aria-controls="offcanvasSearchCourse"
          ></button>
        </div>
        <a href="" class="navbar-auth btn-plain">Masuk</a>
      </nav>
      <div class="offcanvas offcanvas-bottom offcanvas h-100 rounded-0" data-bs-backdrop="static" tabindex="-1" id="offcanvasSearchCourse" aria-labelledby="offcanvasSearchCourseLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" onclick="checkScroll(false)" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="d-flex offcanvas-form-group" method="GET" action="">
            <input type="text" value="" name="keyword" minlength="2" required placeholder="Mau belajar apa hari ini?" autofocus class="offcanvas-form-control" id="inputSearchModule3" name="keyword" />

            <button class="btn-basic" type="submit">
              <img src="../../images/ic_search.svg" alt="search" />
            </button>
          </form>
          <div class="text-sm text-semibold mt-30 mb-3" id="titleSearched"></div>
        </div>
      </div>
    </div>

    <div class="position-relative" id="mainContentWrapper">
        <!-- {{-- sidebar --}} -->
        <section class="sidebar-nd d-none d-sm-block" id="sidebar___nd">
            <div class="content">
            <div class="user mb-5">
                <img src="../../images/default-avatar.svg" class="avatar" alt="avatar" />
                <div class="info mt-4">
                <h3 class="lh-base">Name</h3>
                <p>Lifetime Learner</p>
                </div>
            </div>
            <div class="menus">
              <div class="item active">
                <img src="../../images/ic_basic_progress_gray.svg" class="icon" alt="progress" />
                <p>
                    <a href="../progress-belajar/index.html"> Progress Belajar </a>
                </p>
              </div>

              <div class="item ">
                <img src="../../images/ic_basic_kelas_saya_gray.svg" class="icon" alt="kelas" />
                <p>
                    <a href="../kelas-saya/index.html"> Kelas Saya </a>
                </p>
              </div>

              <div class="item">
                <img src="../../images/ic_basic_kelas_saya_gray.svg" class="icon" alt="kelas" />
                <p>
                    <a href="../promo/index.html"> My Vouchers </a>
                </p>
              </div>

              <div class="item ">
                <img src="../../images/ic_basic_karya_gray.svg" class="icon" alt="karya">
                <p>
                    <a href="../portofolio/me.html">
                        Hasil Karya
                    </a>
                </p>
              </div>

              <div class="item ">
                <img src="../../images/ic_invoice_gray.svg" class="icon" alt="invoice" />
                <p>
                    <a href="../invoice/member-transaction-detail.html"> Transactions </a>
                </p>
              </div>

              <div class="item  ">
                <img src="../../images/ic_basic_settings_gray.svg" class="icon" alt="settings" />
                <p>
                    <a href="../profile/settings.html"> Settings </a>
                </p>
              </div>
            </div>
        </section>
        <main class="main-wrapper --bwa-mobile-version pt-lg-0" id="progress_belajar">
            <div class="container-fluid">
                <div class="d-block d-sm-none">
                    <div class="headline_page mb-0">
                        <h3 class="primary-title">
                            Progress
                        </h3>
                        <p class="tagline">
                            Mari bangun karir impian
                        </p>
                    </div>
                </div>
                <div class="row mb-sm-5">
                    <div class="col-12 d-block d-sm-none">
                        <h2 class="mobile-sub-title">My Strength</h2>
                    </div>
                    <div class="col-lg-12 col-12 pe-sm-4">
                        <div class="default-card chart-card">
                            <h3 class="primary-title d-none d-sm-block">
                                My Strength
                            </h3>
                            <div class="row">
                                <div class="position-relative col-lg-6 offset-lg-3 col-12">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row my-report mb-sm-5">
                    <div class="col-12 d-block d-sm-none">
                        <h2 class="mobile-sub-title">
                            Active Progress
                        </h2>
                    </div>
                    <div class="col-lg-5 col-12 pe-sm-4 mb-5">
                        <div class="default-card progress-card">
                            <h3 class="primary-title mb-5 d-none d-sm-block">
                                Active Progress
                            </h3>
                          
                            <div class="item">
                                <div class="row flex-nowrap">
                                    <div class="col-auto col-sm-4">
                                        <a href="../detail-course/course-playing/index.html">
                                            <img src="../../images/thumbnail kelas react web front end developer buildwith angga.png" alt="progress belajar buildwith angga"
                                                class="img-fluid thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-8 ps-2">
                                        <div class="course">
                                            <a href="../detail-course/course-playing/index.html">
                                                <h3 class="lh-base line-clamp">
                                                    Nama Kelas
                                                </h3>
                                            </a>
                                            <div
                                                class="d-flex d-sm-none flex-row align-items-center progress-group mt-sm-3 gap-sm-3">
                                                <div class="flex-fill progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <p class="total-progress text-end">
                                                    6 / 12
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-none d-sm-flex flex-row align-items-center mt-3 gap-3">
                                    <div class="flex-fill progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: 50%;"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <p class="total-progress text-end">
                                        6 / 12
                                    </p>
                                </div>

                            </div>
                            <div class="item">
                                <div class="row flex-nowrap">
                                    <div class="col-auto col-sm-4">
                                        <a href="../detail-course/course-playing/index.html">
                                            <img src="../../images/thumbnail kelas react web front end developer buildwith angga.png" alt="progress belajar buildwith angga"
                                                class="img-fluid thumbnail">
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-8 ps-2">
                                        <div class="course">
                                            <a href="../detail-course/course-playing/index.html">
                                                <h3 class="lh-base line-clamp">
                                                    Nama Kelas
                                                </h3>
                                            </a>
                                            <div
                                                class="d-flex d-sm-none flex-row align-items-center progress-group mt-sm-3 gap-sm-3">
                                                <div class="flex-fill progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%;background:#3D58FF !important;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <p class="total-progress text-end">
                                                    13 / 13
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-none d-sm-flex flex-row align-items-center mt-3 gap-3">
                                    <div class="flex-fill progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: 100%;background:#3D58FF !important;"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <p class="total-progress text-end">
                                        13 / 13
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12 pe-sm-4">
                        <div class="default-card">
                            <h3 class="primary-title mb-4">
                                Top 2 Last 7 Days
                            </h3>
                            <div class="tags mt-4">
                                <ul class="item">
                                    <li>
                                        <div class="icon bg-blue"></div>
                                        <p class="title">
                                            Business
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon bg-orange"></div>
                                        <p class="title">
                                            Back-End
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <canvas id="myChartX"></canvas>
                        </div>

                        <!-- {{-- Member Watch Time --}} -->
                        <div class="default-card mt-5">
                            <h3 class="primary-title mb-4">
                                Your Watch Time
                            </h3>
                            <div class="tags mt-4">
                                <ul class="item">
                                    <li>
                                        <div class="icon bg-blue"></div>
                                        <p class="title">
                                            Last 7 Days
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <canvas id="WatchInsight"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>

    

     <!-- modal search -->
     <div class="modal fade" id="quickSearchModal" tabindex="-1" aria-labelledby="quickSearchModalLabel" aria-hidden="true">
        <!-- {{-- Button dismiss --}} -->
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content overflow-hidden position-relative">
            <div class="modal-header">
                <form autocomplete="off" class="position-relative quick-search-modal w-100" method="GET" action="" id="quickSearchForm">
                <div class="position-relative">
                    <input type="text" value="keyword" name="keyword" minlength="2" placeholder="Cari kelas, cth: Web development, Freelancer, App development" class="navbar-input-column form-control" id="inputSearchModule3" />
                    <svg width="24" height="24" viewBox="0 0 24 24" class="ic_search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z"
                        fill="currentColor"
                    />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M14.2929 14.2929C14.6834 13.9024 15.3166 13.9024 15.7071 14.2929L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.2929 15.7071C13.9024 15.3166 13.9024 14.6834 14.2929 14.2929Z"
                        fill="currentColor"
                    />
                    </svg>
                    <a href="javascript:void(0);" class="clear-field-x d-none" id="clear_field">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18" stroke="#999AA4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6 6L18 18" stroke="#999AA4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    </a>
                </div>
                </form>
            </div>
            <div class="modal-body">
                <!-- {{-- Dummy Body --}} -->
            </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

   
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="../../scripts/tooltip-bootstrap-5.2.js"></script>

    <script src="../../scripts/scrollToAnchor.js"></script>

    <script type="text/javascript" src="../../scripts/toggleScroll.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script type="text/javascript" src="../../scripts/elementFollowScroll.js"></script>
    <script type="text/javascript">
      let element = $("#sidebar___nd");
      // Space between element and top of screen (when scrolling)
      let topMargin = 100;
      let sectionContainer = $("#mainContentWrapper");

      elementFollowScroll(element, sectionContainer, topMargin);
    </script>

  
    <!-- <script src="../../scripts/mobile-navbar.js"></script>
    <script src="../../scripts/mobile-swiper-config.js"></script> -->
    
    <script src="../../scripts/keypress/keypress-2.1.5.min.js"></script>
    <script type="text/javascript" src="../../scripts/quickSearchModal.js"></script>
    <script type="text/javascript" src="../../scripts/loadMoreSearchResult.js"></script>

    <script src="../../scripts/circlechart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>

    <script>
        insightPlaceholder = document.getElementById('WatchInsight')

        let duration = ['0', '3', '0', '9', '0', '3', '0']

        const datasets = {
            label: "Durasi Belajar",
            data: duration,
            fill: false,
            tension: 0.4,
            borderWidth: 3,
            pointBorderWidth: 3,
            pointRadius: 4,
            pointBackgroundColor: '#fff',
            pointHoverBorderColor: '#fff',
            borderColor: '#3D58FF',
            pointBorderColor: '#3D58FF',
            pointHoverBackgroundColor: '#3D58FF',
        }

        const tooltip = {
            callbacks: {
                label: function(context) {
                    return context.dataset.data[context.dataIndex] + " Menit"
                }
            }
        }

        const options = {
            plugins: {
                legend: {
                    display: false,
                },
                tooltip,
            },
            scales: {
                y: {
                    ticks: {
                        callback: function(value, index, ticks) {
                            // return parseFloat(value);
                            return Number.isInteger(value) ? value : null;
                        }
                    },
                    beginAtZero: true,
                }
            }
        }

        var WatchInsight = new Chart(insightPlaceholder, {
            type: 'line',
            data: {
                labels: [
                        "16 May",
                        "17 May",
                        "18 May",
                        "19 May",
                        "20 May",
                        "21 May",
                        "22 May",
                      ],
                datasets: [datasets]
            },
            options
        });
        
    </script>

    <script>
        // <block:setup:1>
        const data = {
            labels: [
                    'Frontend',
                    'Backend',
                    'Business',
                    'User Interface',
                    'User Experience',
                    'Design',
                    'IOT',
            ],
            datasets: [{
                label: 'My Interests',
                data: [
                    35, 
                    10, 
                    38, 
                    5, 
                    1, 
                    20, 
                    17, 
                ],
                fill: true,
                backgroundColor: 'rgba(36, 71, 249, 0.2)',
                borderColor: '#3D58FF',
                pointBackgroundColor: '#fff',
                pointBorderColor: '#3D58FF',
                pointHoverBackgroundColor: '#3D58FF',
                pointHoverBorderColor: '#fff',
                pointBorderWidth: 3,
                pointRadius: 4,
                tension: 0.2,
            }]
        };
    </script>

    <script>
        // === include 'setup' then 'config' above ===
        // My Superpower - Desktop
        var myChart = new Chart(document.getElementById('myChart'), {
            type: 'radar',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            },
        });

        // Top 2 Last 7 Days
        var myChartX = new Chart(document.getElementById('myChartX'), {
            type: 'line',
            data: {
                labels: [
                        "16 May",
                        "17 May",
                        "18 May",
                        "19 May",
                        "20 May",
                        "21 May",
                        "22 May",
                ],
                datasets: [
                    {
                        data: [
                            5,
                            5,
                            5,
                            5,
                            5,
                            5,
                            5,
                        ],
                        label: 'Business',
                        fill: false,
                        tension: parseFloat('1') * 0.2 + 0.6,
                        borderWidth: 3,
                        pointBorderWidth: 3,
                        pointRadius: 4 + Number('1') * 1,
                        pointBackgroundColor: '#fff',
                        pointHoverBorderColor: '#fff',
                        borderColor: '#3D58FF',
                        pointBorderColor: '#3D58FF',
                        pointHoverBackgroundColor: '#3D58FF',
                    
                    },
                    
                    {
                        data: [
                            3,
                            3,
                            3,
                            3,
                            3,
                            3,
                            3,
                        ],
                        label: 'Back-End',
                        fill: false,
                        tension: parseFloat('1') * 0.2 + 0.6,
                        borderWidth: 3,
                        pointBorderWidth: 3,
                        pointRadius: 4 + Number('1') * 1,
                        pointBackgroundColor: '#fff',
                        pointHoverBorderColor: '#fff',
                        borderColor: '#F4A42B',
                        pointBorderColor: '#F4A42B',
                        pointHoverBackgroundColor: '#F4A42B',
                    },
                ],
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(val) {
                                return Number.isInteger(val) ? val : null;
                            }
                        }
                    }
                }
            }
        });
    </script>
  </body>
</html>
