<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootcamp Coding & Design by BuildWithAngga</title>

    <meta
      name="description"
      content="Bootcamp adalah program pelatihan yang difokuskan untuk meningkatkan keahlian design dan coding. Belajar membangun projek website dan mobile app mulai dari dasar sampai tingkat expert di BuildWithAngga."
    />
    <meta name="keywords" content="Web Design, Web Development, UI UX Design, Android, Flutter" />
    <meta name="author" content="BuildWithAngga" />

    <meta image="../../images/meta/kelas-online-belajar-ui-ux-design-dan-web-development-build-with-angga.png" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../images/meta/kelas-online-belajar-ui-ux-design-dan-web-development-build-with-angga.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bootcamp Coding & Design by BuildWithAngga" />
    <meta property="og:site_name" content="BuildWithAngga" />
    <meta property="og:url" content="https://buildwithangga.com/bootcamp" />
    <meta
      property="og:description"
      content="Bootcamp adalah program pelatihan yang difokuskan untuk meningkatkan keahlian design dan coding. Belajar membangun projek website dan mobile app mulai dari dasar sampai tingkat expert di BuildWithAngga."
    />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/styles.min.css" />

    <link rel="icon" type="image/png" href="../../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../../images/favicon.ico" />

    <script type="text/javascript" src="../../scripts/desktop-navbar.js"></script>
    <script defer type="text/javascript" src="../../scripts/mobile-navbar.js"></script>

    <script type="text/javascript" src="../../scripts/quickSearchModal.js"></script>

    <script type="text/javascript" src="../../scripts/loadMoreSearchResult.js"></script>

    <script type="text/javascript" src="../../scripts/revealPassword.js"></script>
    <script src="../../scripts/login-popup-desktop.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="--bwa-mobile-version d-sm-none d-block">
      <div class="offcanvas offcanvas-bottom overflow-hidden mobile-navbar-offcanvas" tabindex="-1" id="navbarMobileGuest" aria-labelledby="navbarMobileGuestLabel">
        <div class="offcanvas-body small mobile-menu extended">
          <div class="row mb-30">
            <div class="col-12 d-flex justify-content-end align-items-start">
              <button onclick="checkScroll(false)" class="position-relative mobile-menu-close btn-plain bg-transparent" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="../../images/mobile/icon/ic_times.svg" alt="times" />
              </button>
            </div>
          </div>

          <div class="content-menu">
            <div>
              <div class="mobile-menu-title menubar">Daily</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_sekali_bayar.svg" alt="ic bayar" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="../../sale.html" class="mobile-menu-name min-w-max-content">Flash Sale</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_all_course.svg" alt="course" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Kelas Online</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_video.svg" alt=" video" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="bootcamp-katalog.html" class="mobile-menu-name min-w-max-content">Bootcamp</a>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="mobile-menu-title menubar">Resources</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_roadmap.svg" alt="roadmap" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="../journey/index.html" class="mobile-menu-name min-w-max-content">Alur Belajar</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_project.svg" alt="project" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">HandBook</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_profile.svg" alt="profile" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Tips</a>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="mobile-menu-title menubar">For Corporate</div>
              <div id="mobile-menu-swiper-1" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="https://joinbwa.com/openjob">
                      <img src="../../images/ic_project.svg" alt="project" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="https://joinbwa.com/openjob" class="mobile-menu-name min-w-max-content">Open Job</a>
                  </div>

                  <div class="swiper-slide mobile-menu-item d-flex flex-column justify-content-center align-items-center link-basic">
                    <a href="">
                      <img src="../../images/ic_showcase.svg" alt="showcase" class="img-fluid rounded-circle mobile-menu-thumbnail" />
                    </a>
                    <a href="" class="mobile-menu-name min-w-max-content">Showcase</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="d-flex d-md-none justify-content-between align-items-center position-relative" id="navbar-mobile">
        <div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
          <a href="" class="link-basic">
            <img src="../../images/logo_bwa_new.svg" alt="logo" width="50" height="50" class="navbar-logo" />
          </a>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <button
            onclick="checkScroll(true)"
            class="btn-plain navbar-burger-btn d-flex justify-content-center align-items-center"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarMobileGuest"
            aria-controls="navbarMobileGuest"
          >
            <img src="../../images/mobile/icon/hamburger.svg" alt="hamburger" />
          </button>
          <button
            class="btn-plain navbar-search-btn d-flex justify-content-center align-items-center rounded-circle"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSearchCourse"
            aria-controls="offcanvasSearchCourse"
          ></button>
        </div>
        <a href="" class="navbar-auth btn-plain">Masuk</a>
      </nav>
    </section>
    <div class="d-none d-sm-block">
      <nav class="navbar navbar-expand-xl navbar-light navbar-nd" id="navbar-desktop">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">
            <img src="../../images/logo_bwa_new.svg" width="50" height="50" class="d-inline-block align-top" alt="logo buildwithangga" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="basic-menus navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../../sale.html"> Flash Sale </a>
              </li>
              <li class="nav-item d-flex flex-column justify-content-start align-items-start dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="listKelasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Kelas </a>
                <ul class="dropdown-menu __2022" aria-labelledby="listKelasDropdown">
                  <li class="sidecontent">
                    <p>Trusted by 900K+ Students</p>
                    <h5>
                      Build Your <br />
                      Future Career
                    </h5>
                    <p>
                      Explore kelas gratis dan berbayar <br />
                      bersama mentor expert
                    </p>
                    <a href="../kelas-online/index.html" class="btn btn-primary">All Courses</a>
                    <img src="../../images/silhouette-project-bwa.png" alt="icon buildwith angga" />
                  </li>
                  <li class="dropdown-item">
                    <div class="row row-cols-lg-3 row-cols-2 dd-item-list">
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>UI/UX Design</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Graphic Design</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Web Development</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Data Analysis</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Android Development</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>iOS Development</p>
                        </a>
                      </div>
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>HTML & CSS</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>JavaScript</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>PHP</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Python</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Kotlin</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Java</p>
                        </a>
                      </div>
                      <div class="col">
                        <a href="../catalogue/index.html">
                          <p>Figma</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Laravel</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Flutter</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>React Native</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>Vue JS</p>
                        </a>
                        <a href="../catalogue/index.html">
                          <p>React JS</p>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- {{-- Alur Belajar --}} -->
              <li class="nav-item d-flex flex-column justify-content-start align-items-start dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="listAlurBelajarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Alur Belajar </a>
                <ul class="dropdown-menu __2022" aria-labelledby="listAlurBelajarDropdown">
                  <li class="sidecontent">
                    <p>Trusted by 900K+ Students</p>
                    <h5>
                      Follow Our <br />
                      Best Roadmap
                    </h5>
                    <p>
                      Panduan mentor expert untuk <br />
                      belajar jadi lebih terarah
                    </p>
                    <a href="../journey/index.html" class="btn btn-primary">All Roadmap</a>
                    <img src="../../images/silhouette-roadmap-bwa.png" alt="roadmap" />
                  </li>
                  <div class="dd-item-list">
                    <!-- {{-- Full-Stack Website Developer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_appcode.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Full-Stack Website Developer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- UI/UX Designer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_design.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">UI/UX Designer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- Mobile App Developer --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_flutter.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Mobile App Developer</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                    <!-- {{-- Product Manager --}} -->
                    <li class="dropdown-item">
                      <a href="../journey/show.html">
                        <img src="../../images/ic_flag.svg" class="icon" alt="bwa-icon" />
                      </a>
                      <a href="../journey/show.html">
                        <h3 class="title">Product Manager</h3>
                        <p class="subtitle">Rekomendasi oleh mentor expert</p>
                      </a>
                    </li>
                  </div>
                </ul>
              </li>

              <!-- {{-- Bootcamp --}} -->
              <li class="nav-item">
                <a class="nav-link" href="bootcamp-katalog.html"> Bootcamp </a>
              </li>
            </ul>

            <!-- {{-- RIGHT Menu --}} -->
            <ul class="navbar-nav right-menu ms-auto">
              <li class="nav-item d-flex align-items-center">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="CTRL+P" data-bs-custom-class="font-poppins">
                  <button type="button" class="btn-secondary" data-bs-toggle="modal" data-bs-target="#quickSearchModal">
                    <img class="search" src="../../images/ic_search.svg" alt="search buildwith angga" />
                  </button>
                </span>
              </li>

              <!-- New Notification Icon -->
              <div id="app">
                <li class="nav-item d-flex align-items-center">
                  <a href="../notification/index.html">
                    <button type="button" class="nav-icon position-relative">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0186 2.91016C8.70862 2.91016 6.01862 5.60016 6.01862 8.91016V11.8002C6.01862 12.4102 5.75862 13.3402 5.44862 13.8602L4.29862 15.7702C3.58862 16.9502 4.07862 18.2602 5.37862 18.7002C9.68862 20.1402 14.3386 20.1402 18.6486 18.7002C19.8586 18.3002 20.3886 16.8702 19.7286 15.7702L18.5786 13.8602C18.2786 13.3402 18.0186 12.4102 18.0186 11.8002V8.91016C18.0186 5.61016 15.3186 2.91016 12.0186 2.91016Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                            <path d="M13.8719 3.19945C12.6626 2.85504 11.3812 2.85504 10.1719 3.19945C10.4619 2.45945 11.1819 1.93945 12.0219 1.93945C12.8619 1.93945 13.5819 2.45945 13.8719 3.19945V3.19945Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0195 19.0605C15.0195 20.7105 13.6695 22.0605 12.0195 22.0605C11.1995 22.0605 10.4395 21.7205 9.89953 21.1805C9.33769 20.6179 9.02132 19.8557 9.01953 19.0605" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
            
                        <img class="position-absolute" src="../../images/ic_red_ellipse.svg" alt="ellipse" style="top: 13px; right: 13px" />
                    </button>
                  </a>
                </li>
              </div>

              <li class="nav-item d-none d-sm-flex flex-column justify-content-start align-items-start dropdown">
                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="user-name">
                        Halo, UserName
                    </span>
                    <img class="user-photo"
                        src="../../images/default-avatar.svg"
                        alt="">
                </a>
                <ul class="mt-2 dropdown-menu dropdown-nd" aria-labelledby="dropdownMenuLink" style="left:auto; right:0;">
                    
                  <li><a class="dropdown-item" href="../kelas-saya/index.html">My Courses</a></li>
                  <li><a class="dropdown-item" href="../talent/profile.html">My Certificates</a></li>
                  <li><a class="dropdown-item" href="../progress-belajar/index.html">Progress Belajar</a></li>
                  <li><a class="dropdown-item" href="../profile/settings.html">Settings</a></li>
                  <li><a class="dropdown-item" href="../../index.html">Logout</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <section class="py-5 roadmap">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12 col-11 text-center">
              <h1 class="header-primary mb-3 lh-base">
                  The Story Behind <br class="desktop"> BuildWith Angga
              </h1>
              <p class="subtitle-primary mb-5">
                  Sejarah dibangunnya perusahaan BuildWith Angga <br class="desktop"> mulai dari hobi sampai terbentuknya #SpiritOfSharing
              </p>
              </div>
          </div>
        </div>
    </section>

    <section class="timeline pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                <div class="d-flex align-items-start">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">2015</button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">2016</button>
                                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">2017</button>
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">2018</button>
                                <button class="nav-link" id="v-pills-2019-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2019" type="button" role="tab" aria-controls="v-pills-2019" aria-selected="false">2019</button>
                                <button class="nav-link" id="v-pills-2020-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2020" type="button" role="tab" aria-controls="v-pills-2020" aria-selected="false">2020</button>
                                <button class="nav-link" id="v-pills-2021-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2021" type="button" role="tab" aria-controls="v-pills-2021" aria-selected="false">2021</button>
                                </div>
                        </div>
                        <div class="col-lg-1 col-12"></div>
                        <div class="col-lg-7 col-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2015th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Membuat Video Tutorial Untuk Dokumentasi Pribadi
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Angga Risky, CEO dari BuildWith Angga, sudah menyukai design dan code. Angga mulanya mempelajari keduanya secara otodidak dan membuat dokumentasi pribadi melalui channel YouTube "Angga Risky".
                                            </p>
                                            <p class="mt-3 lh-lg">
                                                Sejalannya waktu, kegigihan Angga mengupload video belajar tersebut menarik perhatian banyak peminat IT dari negara Indonesia. Channel YouTube-nya memiliki banyak subscriber dan feedback yang positif pun kian berdatangan untuk belajar bersama.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2016th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Channel YouTube Pribadi Semakin Tumbuh Membaik
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Jumlah subscriber pada channel "Angga Risky" semakin meningkat dan tawaran pekerjaan sampingan pun mulai bermunculan. Akhirnya Angga memilih untuk fokus di freelance dan membuka jasa untuk beberapa klien di Kanada, Amerika Serikat, Singapura, Hongkong, dll.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2017th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Diundang ke negara China untuk mengajar UI/UX design
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Bersama Galih Pratama, kini selaku COO BuildWith Angga, Angga menjual DVD tutorial untuk website designer. Sayangnya, usaha kecilnya itu sepi peminat dan akhirnya terbengkalai. Ia pun kembali fokus di YouTube hingga mendapatkan tawaran mengajar di China dan setelahnya pindah dan bekerja sebagai full-time product designer di beberapa perusahaan di Malaysia, Singapore, dan Indonesia.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2018th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Fokus Berbagi Ilmu dan Pengalaman
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Angga mendapat banyak tawaran seminar di beberapa universitas. Platform pembelajaran online pun saat itu mulai berkembang dan Angga ditawarkan menjual kelas online di beberapa platform.
                                            </p>
                                            <p class="mt-3 lh-lg">
                                                Sempat struggling dengan kebijakan dan penetapan harga yang ditawarkan perusahaan terkait, yang mana belajar design dan code masih bersifat eksklusif sehingga hanya bisa menyentuh kalangan tertentu, Angga pada akhirnya memutus kontrak penjualan kelas dan mencoba menjualnya sendiri.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-2019" role="tabpanel" aria-labelledby="v-pills-2019-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2019th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Kembali ke Indonesia Membawa Sebuah Harapan
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Angga melepas pekerjaan di Malaysia dan meneruskan bisnis DVD tutorial sambil bekerja di Female Daily Network. Sejak 14 Februari 2019, dia perlahan membangun website BWA untuk platform belajar online.
                                            </p>
                                            <p class="mt-3 lh-lg">
                                                Tiga bulan kemudian, ia berkolaborasi dengan mentor di bidang lain. Berkat kerjasama yang baik, course semakin berkembang dan banyak member lulusan BWA yang bahkan sudah mendapatkan pekerjaan.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-2020" role="tabpanel" aria-labelledby="v-pills-2020-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2020th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Belajar Dari Pengalaman Untuk Menjadi Lebih Baik
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Setahun kemudian, BWA menghadapi rintangan baru perihal karyawan, sistem pembayaran, plagiarisme dan manajemen. Maka, didirikanlah PT Angga Membangun Indonesia di bulan Oktober agar mempermudah transaksi, melegalkan usaha dan tentunya melindungi hak cipta semua materi di BWA.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-2021" role="tabpanel" aria-labelledby="v-pills-2021-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <img src="../../images/bwa2021th.png" alt="the story behind of buildwith angga" class="img-fluid">
                                            <h2 class="header-primary mt-5 lh-base">
                                                Ready For The Infinite Game
                                            </h2>
                                            <p class="mt-3 lh-lg">
                                                Rencana kami di tahun ini adalah terus fokus menciptakan produk-produk baru yang bermanfaat. Hal itu tentunya tidak terlepas dari pencarian mentor-mentor berbakat dan peningkatan kualitas di keseluruhan sistem course. Karena dari BuildWith Angga, #semuabisabelajar. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-none d-sm-block">
      <section class="footer-nd">
        <div class="container-fluid">
          <div class="row">
            <div class="item-footer col-lg-3 col-10">
              <img src="../../images/logo_bwa_new.svg" width="50" height="50" alt="logo buildwithangga" />
              <p class="mt-4 tagline" style="margin-bottom: 10px">PT. Angga Membangun Indonesia</p>
              <p class="tagline" style="margin-bottom: 10px">Jl. KH. Wahid Hasyim Kel No.10D</p>
              <p class="tagline" style="margin-bottom: 10px">Jakarta, Indonesia</p>
              <p class="tagline" style="margin-bottom: 10px">(021) 50858650</p>
              <p class="tagline" style="margin-bottom: 10px">
                <a href="mailto:team@buildwithangga.com">team@buildwithangga.com</a>
              </p>
              <p class="tagline">© 2019-2023 BuildWith Angga</p>
            </div>
            <div class="item-footer col-lg-1 col-12"></div>
            <div class="col-lg-8 col-12">
              <div class="row justify-content-between">
                <!-- {{-- Start Popular career --}} -->
                <div class="item-footer col-lg-3 col-12">
                  <p class="header-category">Start Popular Career</p>
                  <ul>
                    <li>
                      <a href="../handbook/details.html"> UI/UX Designer </a>
                    </li>
                    <li>
                      <a href="../handbook/details.html"> Web Developer </a>
                    </li>
                    <li>
                      <a href="../handbook/details.html"> Mobile Developer </a>
                    </li>
                    <li>
                      <a href="../handbook/details.html"> Data Scientist </a>
                    </li>
                    <li>
                      <a href="../handbook/details.html"> Digital Marketer </a>
                    </li>
                  </ul>
                </div>
                <!-- {{-- Mastering Hot tools --}} -->
                <div class="item-footer col-lg-3 col-6">
                  <p class="header-category">Mastering Hot Tools</p>
                  <ul>
                    <li><a href="../catalogue/index.html">Figma</a></li>
                    <li><a href="../catalogue/index.html">Flutter</a></li>
                    <li><a href="../catalogue/index.html">React JS</a></li>
                    <li><a href="../catalogue/index.html">Laravel</a></li>
                    <li><a href="../catalogue/index.html">Vue JS</a></li>
                  </ul>
                </div>
                <!-- {{-- Learn language --}} -->
                <div class="item-footer col-lg-3 col-6">
                  <p class="header-category">Learn Language</p>
                  <ul>
                    <li><a href="../catalogue/index.html">PHP</a></li>
                    <li><a href="../catalogue/index.html"> JavaScript</a></li>
                    <li><a href="../catalogue/index.html">Dart</a></li>
                    <li><a href="../catalogue/index.html">HTML & CSS</a></li>
                    <li><a href="../catalogue/index.html">Kotlin</a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="item-footer col-lg-3 col-6">
                  <p class="header-category">Resources</p>
                  <ul>
                    <li>
                      <a href="../handbook/index.html">Karir HandBook</a>
                    </li>
                    <li>
                      <a href="../rewards/index.html">Student Rewards</a>
                    </li>
                    <li>
                      <a href="../tutorials/index.html">Free Ebooks</a>
                    </li>
                  </ul>
                </div>
                <div class="item-footer col-lg-3 col-6">
                  <p class="header-category">Community</p>
                  <ul>
                    <li><a href="../talent/index.html">Showcase</a></li>
                    <li><a href="../review/index.html">Testimonials</a></li>
                    <li><a href="../mentor/list-mentor.html">Mentor</a></li>
                    <li><a href="../webinar/index.html">Webinar</a></li>
                  </ul>
                </div>
                <div class="item-footer col-lg-3 col-6">
                  <p class="header-category">Company</p>
                  <ul>
                    <li><a href="../faq/timeline.html">About</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                    <li><a href="../carrers/index.html">Careers</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/@BuildWithAngga">Youtube</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/buildwithangga/">Instagram</a></li>
                    <li><a target="_blank" href="https://www.tiktok.com/@buildwithangga">TikTok</a></li>
                  </ul>
                </div>
                <div class="item-footer col-lg-3 col-md-6 col-12">
                  <p class="header-category">Useful Links</p>
                  <ul>
                    <li><a href="../faq/pp.html">Privacy & Policy</a></li>
                    <li><a href="../faq/tnc.html">Terms & Conditions</a></li>
                    <li><a target="_blank" href="https://www.notion.so/galpratama/Jam-Operasional-b806c2c999274568960be51b0de5afda"> Jam Operasional</a></li>
                    <li><a href="../search-modul/index.html">Cari Kelas</a></li>
                    <li><a href="../journey/index.html">Roadmap Belajar</a></li>
                    <li><a href="../kelas-online/index.html">All Courses</a></li>
                    <li><a href="../faq/cek-sertifikat.html">Cek Sertifikat</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="--bwa-mobile-version d-sm-none d-block">
        <footer class="d-block d-md-none bg-white" id="footer-mobile">
            <div class="container">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="../../images/logo_bwa_new.svg" width="50" height="50"
                        alt="logo buildwithangga" class="me-3">
                    <div class="d-flex flex-column justify-content-center align-items-start">
                        <div class="mobile-footer-brand">BuildWith Angga</div>
                        <div class="mobile-footer-copyright">© 2019-2022 BuildWith Angga</div>
                    </div>
                </div>
                <p class="mobile-footer-description">Website untuk belajar design dan code dari <br>
                    mentor yang sangat berpengalaman<br>
                    di bidangnya masing-masing.</p>
        
                <div class="row gy-3">
                    <div class="col-6">
                        <div class="mobile-footer-sub">Dream Career</div>
                        <div class="d-flex flex-column gap-2">
                            <a href=""
                                class="mobile-footer-item d-block">UI Designer</a>
                            <a href=""
                                class="mobile-footer-item d-block">UX Designer</a>
                            <a href=""
                                class="mobile-footer-item d-block">Website Developer</a>
                            <a href=""
                                class="mobile-footer-item d-block">ReactJS Developer</a>
                            <a href=""
                                class="mobile-footer-item d-block">Flutter Developer</a>
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div class="mobile-footer-sub">Language</div>
                        <div class="d-flex flex-column gap-2">
                            <a href=""
                                class="mobile-footer-item d-block">PHP</a>
                            <a href=""
                                class="mobile-footer-item d-block">JavaScript</a>
                            <a href=""
                                class="mobile-footer-item d-block">Python</a>
                            <a href=""
                                class="mobile-footer-item d-block">Kotlin</a>
                            <a href=""
                                class="mobile-footer-item d-block">Golang</a>
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div class="mobile-footer-sub">Community</div>
                        <div class="d-flex flex-column gap-2">
                            <a href="" class="mobile-footer-item d-block">Showcase</a>
                            <a href="" class="mobile-footer-item d-block">Mentor</a>
                            <a href="" class="mobile-footer-item d-block">Testimonials</a>
                            <a href="" class="mobile-footer-item d-block">Webinar</a>
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div class="mobile-footer-sub">Company</div>
                        <div class="d-flex flex-column gap-2">
                            <a href="" class="mobile-footer-item d-block">About Us</a>
                            <a target="_blank" href="https://www.instagram.com/buildwithangga"
                                class="mobile-footer-item d-block">Instagram</a>
                            <a target="_blank" href="https://www.tiktok.com/@buildwithangga"
                                class="mobile-footer-item d-block">TikTok</a>
                            <a href="" class="mobile-footer-item d-block">Careers</a>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="mobile-footer-sub">Office</div>
                        <div class="d-flex flex-column gap-2">
                            <div class="mobile-footer-item d-block">PT Angga Membangun Indonesia</div>
                            <div class="mobile-footer-item d-block">Jl. KH. Wahid Hasyim Kel
                                No.10D
                                <div class="mobile-footer-item d-block">
                                    Jakarta,
                                    Indonesia</div>
                            </div>
                            <div class="mobile-footer-item d-block">(021) 50858650</div>
                            <a href="mailto:team@buildwithangga.com"
                                class="mobile-footer-item d-block">team@buildwithangga.com</a>
                        </div>
                    </div>
                </div>
          </footer>
    </section>

    <!-- modal search -->
    <div class="modal fade" id="quickSearchModal" tabindex="-1" aria-labelledby="quickSearchModalLabel" aria-hidden="true">
    <!-- {{-- Button dismiss --}} -->
    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content overflow-hidden position-relative">
        <div class="modal-header">
            <form autocomplete="off" class="position-relative quick-search-modal w-100" method="GET" action="" id="quickSearchForm">
            <div class="position-relative">
                <input type="text" value="keyword" name="keyword" minlength="2" placeholder="Cari kelas, cth: Web development, Freelancer, App development" class="navbar-input-column form-control" id="inputSearchModule3" />
                <svg width="24" height="24" viewBox="0 0 24 24" class="ic_search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z"
                    fill="currentColor"
                />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.2929 14.2929C14.6834 13.9024 15.3166 13.9024 15.7071 14.2929L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.2929 15.7071C13.9024 15.3166 13.9024 14.6834 14.2929 14.2929Z"
                    fill="currentColor"
                />
                </svg>
                <a href="javascript:void(0);" class="clear-field-x d-none" id="clear_field">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#999AA4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6 6L18 18" stroke="#999AA4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                </a>
            </div>
            </form>
        </div>
        <div class="modal-body">
            <!-- {{-- Dummy Body --}} -->
        </div>
        </div>
    </div>
    </div>
    <!-- login pop-up -->
    <section class="ground-login gate px-2 px-lg-0">
    <div class="box-870">
        <div class="ic-close">
        <img src="../../images/ic_close.svg" alt="hamburger-menu" />
        </div>
        <div class="row mx-0">
        <div class="col-md-6 col-12 showcase d-none d-md-block p-0">
            <img src="../../images/belajar-coding-product-design-kelas-online-buildwith-angga.png" class="banner-login" alt="belajar design web development buildwithangga" />
        </div>

        <!-- {{-- Sign In Form --}} -->
        <div class="col-md-6 col-12 p-5 content sign-in-form">
            <h3 class="header-thirdty">Sign In</h3>
            <article class="form-group p-0 mt-30">
            <form action="">
                
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" />
                
                </div>
                <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <div class="revealPassword">
                    <input name="password" type="password" class="form-control" id="password" />
                    <div>
                    <img class="icon" src="../../images/svgs/ic_eye.svg" alt="eye"/>
                    </div>
                </div>
                </div>
                <div class="mb-2">
                
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
                
                </div>
                <p class="flr">
                <a href="" class="text-link"> Lupa Password </a>
                </p>
                <button type="submit" class="mt-4 btn btn-primary btn-lg btn-login">Sign In</button>
                
                <a class="btn btn-secondary mt-3 w-100 btn-100" href="front.start.signup?main_leads=gate">Create New Account</a>
                
            </form>
            <div class="divider my-4"></div>
            <a class="btn btn-dark btn-google" href=""> <img src="../../images/ic_google.svg" alt="BuildWith Angga" /> Masuk / Daftar </a>
            </article>
        </div>
        </div>
    </div>
    </section>
  </body>
</html>
